
.section-title{
    font-size: 42pt;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    color: rgb(168, 179, 144);
    border-bottom: 2px solid rgb(168, 179, 144);
    margin: 20px;

}