.headerContainer{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

    background: rgb(54, 190, 231);
    box-shadow: -2px 3px 2px 2px rgb(253, 251, 251);
    height: 10vh;  
    padding: 8px;
}

.links{
    font-size: 17px;
    color: rgb(24, 102, 192);
    text-decoration: none;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.171); */
}