.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.name {
    font-weight: 500;
    font-size: 24px;
    color: black;
    text-align: center;
}

.sub {
    font-weight: 100;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    color: rgb(143, 143, 143);
}